aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asyncio
attrs
audioop-lts
braceexpand
certifi
charset-normalizer
click
colorama
DateTime
discord.py
distro
et_xmlfile
frozenlist
h11
httpcore
httpx
humanfriendly
idna
import_expression
jishaku
jiter
multidict
numpy
openpyxl
pandas
pillow
propcache
py-expression-eval
pydantic
pydantic_core
pyreadline3
python-dateutil
python-dotenv
pytz
reactionmenu
requests
six
sniffio
tabulate
topggpy
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
websockets
yarl
zope.interface
